n8n/Customer Support Agent v1 Supabase.json
[
  {
    "updatedAt": "2026-07-21T11:13:00.049Z",
    "createdAt": "2026-06-24T14:08:59.573Z",
    "id": "fXQTTKCeR7wcj9IL",
    "name": "Customer Support Agent v1 Supabase",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "16rZLII8YsZEkCJ1azyrwqRDgpKVx--W0",
            "mode": "list",
            "cachedResultName": "POLICY AND FAQ",
            "cachedResultUrl": "https://drive.google.com/drive/folders/16rZLII8YsZEkCJ1azyrwqRDgpKVx--W0"
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -96,
          848
        ],
        "id": "8d1e1850-5299-41f2-a673-cbe20e72567e",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "3FpYmtNwka35qDSI",
            "name": "Google Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          80,
          848
        ],
        "id": "f407a111-65b5-4a19-aa84-a2ac9a2d9dae",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "3FpYmtNwka35qDSI",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          496,
          992
        ],
        "id": "b6255436-9487-453a-9b37-da00587b57ec",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "awC3JIFfRbIidQ3V",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "dataType": "binary",
          "textSplittingMode": "custom",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          608,
          960
        ],
        "id": "da10a0f6-c833-4584-b3e4-2a8bd317d5c2",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          528,
          1152
        ],
        "id": "4bd3e3b9-c323-4462-b121-1762885b8adf",
        "name": "Recursive Character Text Splitter"
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": {
            "__rl": true,
            "value": "documents",
            "mode": "list",
            "cachedResultName": "documents"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          320,
          848
        ],
        "id": "f1047ad5-a963-4677-a7df-20035cccbe8b",
        "name": "Supabase Vector Store",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.content }}",
          "options": {
            "systemMessage": "You are a customer support operations analyst. Once a month, you review that month's customer support emails together with the company's current FAQ and policy documentation, and produce a short report identifying the most important recurring problems and exactly what to do about them.\n\nSTEP 1 - GET THE DATA\nBefore writing anything, call the Supabase tool to fetch:\n- Every customer support email/complaint from the past month\n- The current FAQ and policy documentation\nDo this immediately, without asking the user to provide the data first.\n\nSTEP 2 - FIND THE PATTERNS\nGroup the emails by recurring theme (for example: sizing complaints, shipping delays, refund confusion, damaged items). Note roughly how many emails fall into each theme, and whether a theme looks like it is getting more or less frequent over the month.\n\nSTEP 3 - FIND THE ROOT CAUSE\nFor each major theme, compare what customers are actually experiencing against what the FAQ/policy says. Look specifically for:\n- A missing concrete detail in the policy (an exact timeframe, cost, or condition that is currently vague)\n- A contradiction between what the policy says and what customers report actually happening\n- A product or process problem that no amount of rewording will fix - say so plainly if you find one\nAvoid generic advice like \"improve communication\" or \"train staff better\". Every recommendation must point to a specific wording change, policy change, or process change.\n\nSTEP 4 - WRITE THE REPORT\nWrite your findings as plain text using exactly the structure below. Do not use markdown symbols (no asterisks, no #, no emoji) - this text is displayed as-is with no formatting applied, so it must read cleanly on its own.\n\nStructure to follow exactly:\n\nSUMMARY\nA 3-5 sentence overview: the single biggest pattern this month, roughly how many customers it affected, and what happens to the business if it is left unaddressed.\n\nThen exactly 5 recommendations, ordered from most to least urgent, each written out IN FULL using this format:\n\n1. [Short, specific title]\nWhat's happening: The actual complaint pattern, with rough numbers.\nWhy it's happening: The real underlying gap or contradiction in the policy/process - not a vague guess.\nWhat to change: The exact new wording or process step to put in place. If it is a policy fix, write the actual replacement sentence(s) a customer would read.\nImpact if ignored: The concrete cost of leaving it as-is (support hours, refunds, churn, bad reviews).\n\n2. [Next title]\n(same four lines)\n\n... continue through number 5, every single one written out completely.\n\nNever write a placeholder like \"continue with the same structure for the rest\" instead of actual content - always write all 5 in full. If the data genuinely does not support 5 distinct issues, write the strongest ones you can find and say directly that there weren't 5 clear issues this month, rather than padding with filler."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1824,
          400
        ],
        "id": "b3a34d0f-5726-49d5-8ac4-43d350f6fccc",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          1856,
          0
        ],
        "id": "c347ae9d-914a-4733-8553-a1aa6307a7f7",
        "name": "Embeddings OpenAI2",
        "credentials": {
          "openAiApi": {
            "id": "awC3JIFfRbIidQ3V",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "=Call this tools to access information about Policies and FAQ\n",
          "tableName": {
            "__rl": true,
            "value": "documents",
            "mode": "list",
            "cachedResultName": "documents"
          },
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "client_email",
                  "value": "={{ $('Loop Over Items').item.json.email }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          1856,
          160
        ],
        "id": "894cc662-7135-4e93-b8c6-b7ca101532fa",
        "name": "Supabase Vector Store2",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-4",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1680,
          144
        ],
        "id": "33397511-7a5f-4982-bf6d-1c094ecce806",
        "name": "OpenRouter Chat Model3",
        "credentials": {
          "openRouterApi": {
            "id": "6rWXPYTYTn7o8mRN",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          608,
          400
        ],
        "id": "e3ad5b48-23a6-45ca-b73f-8aef06996afa",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7546efec-ece9-45bf-9127-d29a0c431363",
                "name": "email",
                "value": "={{ $json.client_email }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          304,
          400
        ],
        "id": "0f193954-e8a5-428a-9538-107f94544d30",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1b95f192-c8af-422a-92b0-d6933585b8c8",
                "name": "incoming_message",
                "value": "={{ $json.incoming_message }}\n{{ $json.ai_response }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1040,
          400
        ],
        "id": "b94f8c70-b9dc-403a-b94e-39e386f8379e",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "email_logs",
          "filters": {
            "conditions": [
              {
                "keyName": "client_email",
                "condition": "eq",
                "keyValue": "={{ $('Loop Over Items').item.json.email }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          912,
          400
        ],
        "id": "03838a9b-8d65-40b0-981b-0ddeb1a54df5",
        "name": "Get many rows1",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          48,
          400
        ],
        "id": "e8673621-27ab-4a31-9ac7-8a37f68406c9",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "email_logs",
          "filters": {
            "conditions": []
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          176,
          400
        ],
        "id": "2ddaeffd-bfc5-4d5d-ae04-792458dfa7cf",
        "name": "Get many rows",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "955f0f2e-0969-4ac2-8add-7f3059d0154b",
                "leftValue": "={{ $('Get a document').item.json.content }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2272,
          400
        ],
        "id": "00175985-78e9-489c-a383-6f752586edea",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          2608,
          416
        ],
        "id": "6ae2bbe8-8ab7-4aa3-8588-b64bd96d85d0",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "https://docs.google.com/document/d/19aXsvpIES2g8UJdwwOuC3FNl5tTcP2_bsH5qUZUBuEA/edit?tab=t.0",
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "={{ $('Get a document').item.json.content }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          2432,
          384
        ],
        "id": "7fd84134-52bd-4647-8d96-c465197e791e",
        "name": "Update a document2",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "SsUH5ny7j3ezJrBF",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "documentURL": "={{ $json.documentId }}"
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          1648,
          400
        ],
        "id": "017b35b6-0ed9-483f-b10c-cb3aa081d5cc",
        "name": "Get a document",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "SsUH5ny7j3ezJrBF",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          816,
          128
        ],
        "id": "5cfd6413-90c2-4ee0-8cf4-bc8c4e0357b4",
        "name": "No Operation, do nothing2"
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "https://docs.google.com/document/d/19aXsvpIES2g8UJdwwOuC3FNl5tTcP2_bsH5qUZUBuEA/edit?tab=t.0",
          "actionsUi": {
            "actionFields": [
              {
                "action": "insert",
                "text": "={{ $json.myRow }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          1344,
          400
        ],
        "id": "7f9baca4-55dc-4ebc-84f7-105d8cfe3f08",
        "name": "Update a document",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "SsUH5ny7j3ezJrBF",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [$input.first()];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1504,
          400
        ],
        "id": "343466af-f187-411f-bd24-8c88b96cd0f8",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "jsCode": "let email = $input.first().json.email || \"\";\nlet username = email.split('@')[0];\n\nreturn [\n  {\n    json: {\n      text: username\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          768,
          400
        ],
        "id": "abd74c11-3609-4721-b452-79bf5f49605e",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "tableId": "ai_recommendations",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "email",
                "fieldValue": "={{ $('Loop Over Items').item.json.email }}"
              },
              {
                "fieldId": "suggestions",
                "fieldValue": "={{ $json.output }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2096,
          400
        ],
        "id": "6d7d3103-6980-4aec-9b06-70f3c93229ab",
        "name": "Create a row1",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "simple": false,
          "filters": {
            "readStatus": "both"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          256,
          2032
        ],
        "id": "0f022931-1e52-4839-ba7d-14c283aad6a5",
        "name": "Gmail Trigger3",
        "credentials": {
          "gmailOAuth2": {
            "id": "7Y94xq6q5K4ZQCYb",
            "name": "Gmail account 2"
          }
        }
      },
      {
        "parameters": {
          "inputText": "={{ $('Gmail Trigger3').item.json.text }}",
          "categories": {
            "categories": [
              {
                "category": "Customer support",
                "description": "=An email that is related to helping customer. They may be asking questions about our policies, questions about our product or services or questions about refund/return"
              },
              {
                "category": "Other",
                "description": "=Any email that is not customer support related"
              }
            ]
          },
          "options": {
            "systemPromptTemplate": " Don't explain, and only output the json."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          704,
          2016
        ],
        "id": "44bf8d86-a41a-4ee9-a088-60015fa964c7",
        "name": "Text Classifier1",
        "disabled": true
      },
      {
        "parameters": {
          "model": "nvidia/nemotron-nano-9b-v2:free",
          "options": {
            "responseFormat": "json_object"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          832,
          2224
        ],
        "id": "42eaf0b9-7533-4d3a-a311-5f2cedaa6409",
        "name": "OpenRouter Chat Model4",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5,
        "alwaysOutputData": false,
        "credentials": {
          "openRouterApi": {
            "id": "6rWXPYTYTn7o8mRN",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1648,
          2608
        ],
        "id": "891c625a-c682-4fe3-b476-72383371990a",
        "name": "No Operation, do nothing3"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=## Conversation History\n{{ $('Build Memory Context').item.json.threadHistoryText }}\n\n## New Message From Customer\n{{ $('Gmail Trigger3').item.json.text }}\n\n##correction patterns\n{{ $json.correctionPatternsText }}\n\n##learnt patterns\n{{ $json.learnedRulesText }}",
          "options": {
            "systemMessage": "## Role and Personality\nYou are Mr. Tony, a senior Customer Support Agent at StarTech. You are known for being incredibly helpful, tech-savvy, and genuinely enthusiastic about solving customer problems. Your tone is warm, professional, and full of positive energy.\n\n## Task Objective\nYour primary goal is to respond to incoming customer emails by searching the company's FAQ and policy knowledge base using the available search tool. You must transform dry, technical information into friendly, easy-to-read instructions.\n\n## Operational Guidelines\n1. **Knowledge Retrieval:** For every query, search the knowledge base tool first to ground your answer - don't invent policy details that aren't there.\n2. **Personalization:** Address the customer by name if available. Acknowledge their specific issue with empathy before jumping into the solution.\n3. **Clarity over Complexity:** Break down technical steps using bullet points or numbered lists. Avoid overwhelming the customer with jargon.\n4. **Style & Emojis:** Use relevant emojis (e.g., 🚀, 🛠️, ✨) to maintain a friendly atmosphere, but keep it professional.\n5. ALWAYS reply in the same language the customer used in their message, unless they explicitly state a different preferred language to reply in.\n\n## Standing Rules For This Support Inbox\nThese apply to every reply, regardless of topic. If a rule below conflicts with something more specific to this particular message (e.g. from the correction-pattern context below), follow the more specific guidance instead - these are general defaults, not overrides.\n{{ $('Build Memory Context').item.json.learnedRulesText || '(no standing rules learned yet for this inbox)' }}\n\n## Learned Correction Patterns For This Support Inbox\nHuman reviewers have corrected past AI drafts in the following ways. Apply these preferences proactively in your reply, unless they conflict with factual accuracy:\n{{ $('Build Memory Context').item.json.correctionPatternsText }}\n\n## Constraints and Formatting\n- **Output:** Only output the body of the email. No introductory or concluding remarks from the AI.\n- **Tone:** Friendly and approachable.\n\n## Email Structure\n1. **Greeting:** A warm hello (e.g., \"Hi [Name]! Thanks for reaching out!\").\n2. **Empathy Statement:** A brief sentence showing you understand the situation.\n3. **The Solution:** The core information from the knowledge base, rewritten to be conversational.\n4. **Closing:** A helpful offer for further assistance.\n5. **Signature:** \"Best regards, Mr. Tony from StarTech\".\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          2192,
          2048
        ],
        "id": "90916642-aee6-4f26-802b-12cb72af7223",
        "name": "AI Agent2"
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-5",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1872,
          2288
        ],
        "id": "77b4d200-dbf1-44f1-afd2-5f5da0fddbab",
        "name": "OpenRouter Chat Model5",
        "credentials": {
          "openRouterApi": {
            "id": "6rWXPYTYTn7o8mRN",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          2208,
          2400
        ],
        "id": "4aafcd58-83d6-4850-967b-2316a9ecf2ae",
        "name": "Embeddings OpenAI3",
        "credentials": {
          "openAiApi": {
            "id": "awC3JIFfRbIidQ3V",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "operation": "reply",
          "messageId": "={{ $('Gmail Trigger3').item.json.id }}",
          "emailType": "text",
          "message": "={{ $('AI Agent2').item.json.output }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          3200,
          2432
        ],
        "id": "45edb9a7-3aeb-4d93-9535-f53fef347951",
        "name": "Reply to a message1",
        "webhookId": "cfaf4110-cb34-44e0-b728-29e6b40bd206",
        "credentials": {
          "gmailOAuth2": {
            "id": "7Y94xq6q5K4ZQCYb",
            "name": "Gmail account 2"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Call this tools to access information about Policies and FAQ",
          "tableName": {
            "__rl": true,
            "value": "documents",
            "mode": "list",
            "cachedResultName": "documents"
          },
          "topK": 8,
          "includeDocumentMetadata": false,
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "client_email",
                  "value": "={{ $('Edit Fields4').item.json.to.text }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          2192,
          2272
        ],
        "id": "bade20ee-b1d0-4892-83ca-f5878b73a66d",
        "name": "Supabase Vector Store3",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "email_logs",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "thread_id",
                "fieldValue": "={{ $('Gmail Trigger3').item.json.threadId }}"
              },
              {
                "fieldId": "sender_email",
                "fieldValue": "={{ $('Gmail Trigger3').item.json.from.value[0].address }}"
              },
              {
                "fieldId": "subject",
                "fieldValue": "={{ $('Gmail Trigger3').item.json.subject }}"
              },
              {
                "fieldId": "incoming_message",
                "fieldValue": "={{ $('Gmail Trigger3').item.json.text }}"
              },
              {
                "fieldId": "ai_response",
                "fieldValue": "={{ $('AI Agent2').item.json.output }}"
              },
              {
                "fieldId": "label",
                "fieldValue": "={{ $json.text }}"
              },
              {
                "fieldId": "client_email",
                "fieldValue": "={{ $('Edit Fields4').item.json.to.text }}"
              },
              {
                "fieldId": "message_id",
                "fieldValue": "={{ $('Gmail Trigger3').item.json.id }}"
              },
              {
                "fieldId": "status",
                "fieldValue": "pending_review"
              },
              {
                "fieldId": "final_response",
                "fieldValue": "={{ $('AI Agent2').item.json.output }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2752,
          2016
        ],
        "id": "a9be9fd0-d844-4889-9e57-58b0cede1408",
        "name": "Create a row2",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Thats your input:\n{{ $('Gmail Trigger3').item.json.headers.subject }}\n{{ $('Gmail Trigger3').item.json.text }}\n\n## Role\nYou are a high-precision Intent Classifier for StarTech. Your goal is to identify the primary reason for a customer's email and output EXACTLY one word.\n\n## Smart Categories\nChoose the most appropriate category from this list:\n\n- **Reclamation**: Combined category for Returns, Refunds, or Exchanges. Use this if the customer wants to send back an item, get their money back, or change a size.\n- **Shipping**: Questions about delivery time, tracking numbers, lost packages, or shipping costs.\n- **Technical**: Issues with product defects, website errors, account login problems, or setup help.\n- **Inventory**: Inquiries about stock levels, restocking dates, or product variations (colors/sizes) being available.\n- **Pricing**: Questions about discounts, promo codes, bulk orders, or price matching.\n- **Urgent**: Legal threats, aggressive complaints, or immediate cancellation requests.\n- **Other**: General greetings, simple thank-yous, or anything that doesn't fit the above.\n\n## Strict Output Rules\n1. Output MUST be exactly one word from the list above.\n2. NO punctuation, NO explanations, NO introductory text.\n3. If the email covers multiple topics, choose the one that requires the most immediate action (e.g., Reclamation > Shipping).\n\n## Classification Example\nInput: \"The shoes are too small, I want my money back.\" -> Output: Reclamation\nInput: \"Where is my order #123?\" -> Output: Shipping",
          "messages": {
            "messageValues": []
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          2160,
          2576
        ],
        "id": "b731fbc9-01b8-4f7f-b705-c38d343fbe00",
        "name": "Basic LLM Chain1"
      },
      {
        "parameters": {
          "model": "bytedance-seed/seed-2.0-lite",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2208,
          2736
        ],
        "id": "4ba02059-0456-4670-908c-e4d667a6b8ec",
        "name": "OpenRouter Chat Model6",
        "credentials": {
          "openRouterApi": {
            "id": "6rWXPYTYTn7o8mRN",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2528,
          2176
        ],
        "id": "7689176e-6f4d-4136-9fbe-53c1955b8ce3",
        "name": "Merge1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b859138f-5484-4167-a988-11cae7d48db1",
                "name": "to.text",
                "value": "={{ $json.to.value[0].address }}",
                "type": "string"
              },
              {
                "id": "515b65d8-f016-403d-a5ed-6016501a4237",
                "name": "",
                "value": "",
                "type": "string"
              },
              {
                "id": "e0d467a4-4fea-40d8-9344-ed440d803b7c",
                "name": "",
                "value": "",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          496,
          2032
        ],
        "id": "c09b4ad4-fb32-4573-a92c-ae2f101683b4",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.removeDuplicates",
        "typeVersion": 2,
        "position": [
          432,
          400
        ],
        "id": "07e21add-ca54-4242-bede-67f327a10464",
        "name": "Remove Duplicates"
      },
      {
        "parameters": {
          "jsCode": "// 1. Взимаме индекса на текущото завъртане на ГОЛЕМИЯ цикъл\n// Използваме 'Loop Over Items' (първия ти голям цикъл), за да разберем на кой потребител сме в момента\nconst currentIteration = $('Loop Over Items').context.currentIteration;\n\n// 2. Взимаме данните от Edit Fields5, но филтрирани САМО за това конкретно завъртане\nconst currentInputs = $input.all().filter(item => item.pairedItem && item.pairedItem.iteration === currentIteration);\n\n// Застраховка: ако n8n няма pairedItem информация, вземи просто текущия входящ масив за тази итерация\nconst itemsToProcess = currentInputs.length > 0 ? currentInputs : $input.all();\n\n// 3. Обхождаме само филтрираните елементи\nreturn itemsToProcess.map(item => {\n  let myRowText = \"\";\n\n  if (item.json && item.json.incoming_message) {\n    myRowText = typeof item.json.incoming_message === 'object' \n      ? (item.json.incoming_message.row || JSON.stringify(item.json.incoming_message)) \n      : item.json.incoming_message;\n  } else if (item.json) {\n    const firstValue = Object.values(item.json)[0];\n    myRowText = typeof firstValue === 'object' ? JSON.stringify(firstValue) : firstValue;\n  }\n\n  if (!myRowText || myRowText === \"undefined\") {\n    myRowText = \"Празно съобщение / Грешка при четене\";\n  }\n\n  const formattedOutput = `\\n\\n● ${myRowText}\\n\\n`;\n  const base64Data = Buffer.from(formattedOutput, 'utf-8').toString('base64');\n\n  return {\n    json: { \n      incoming_message: myRowText,\n      myRow: formattedOutput\n    },\n    binary: {\n      data: { \n        data: base64Data,\n        mimeType: 'text/plain',\n        fileName: 'temp_row.txt'\n      }\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1184,
          400
        ],
        "id": "be301550-e362-440b-ac48-584fc182e26c",
        "name": "Code in JavaScript3"
      },
      {
        "parameters": {
          "content": "Workflow 1: Macro Monthly Performance Optimization\nData Ingestion and Context Aggregation: The workflow scans historical email logs from the past 30 days to isolate unique users, filters out duplicates, and enters a linear processing loop. For each unique user, it aggregates their full communication history and compiles the raw text into a temporary Google Doc to create a consolidated session dataset.\n\nRetrieval-Augmented Generation & Analysis: This compiled document is handed directly to an autonomous AI Agent. The Agent references the accumulated logs against the client's custom business guidelines, evaluating operational weaknesses to output exactly five highly tailored, data-driven recommendations on how they can improve their services, website, or products.\n\nState Persistence and Environment Reset: The workflow writes these five strategic recommendations straight into a relational Supabase table indexed securely by the user's account ID for dashboard visibility. Once saved, a cleanup step completely wipes the temporary Google Doc, clearing the cache to isolate data privacy boundaries before looping to the next client.",
          "height": 336,
          "width": 688,
          "color": "#036825"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1,
        "id": "2fffcfd3-c908-469c-820e-e5e577610ae8",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "Workflow 2: Automated Knowledge Scraping and Vector Ingestion\nRaw Document Trigger and Download: The workflow is automatically triggered by Google Drive whenever a new file is uploaded or updated. This document typically contains raw, freshly scraped website data, updated organizational FAQs, shipping policies, and operational client guidelines.\n\nSemantic Chunking and Processing: The downloaded file passes into a Recursive Character Text Splitter node. This component slices the large blocks of unstructured company text into optimized, overlapping fragments, ensuring that crucial context isn't awkwardly split mid-sentence.\n\nVector Embedding Generation and Storage: These text segments are sent to an OpenAI Embeddings model to generate mathematical vector values. The workflow then streams these embeddings and their matching text metadata directly into a multi-tenant Supabase Vector Store, building an optimized knowledge base for real-time AI retrieval.",
          "height": 352,
          "width": 608,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -160,
          1008
        ],
        "typeVersion": 1,
        "id": "431e4979-e099-4d83-b51b-e8f7865bf5cf",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "clients",
          "filters": {
            "conditions": [
              {
                "keyName": "email",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields4').item.json.to.text }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2960,
          2016
        ],
        "id": "5bcdb6cd-7e4d-4213-83cb-581f7aad566c",
        "name": "Get Client Auto-Send Setting",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b652d57e-237d-4037-bced-463b6e37fe60",
                "leftValue": "={{ $json.auto_send }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2896,
          2512
        ],
        "id": "e845e10c-aeac-4e87-b6bd-559a673b1035",
        "name": "Auto-Send?"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          3104,
          3088
        ],
        "id": "93d7a466-33f6-458d-bd74-30d8e7b072f0",
        "name": "Waiting for Manual Approval"
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "email_logs",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Create a row2').item.json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "auto_sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3408,
          2400
        ],
        "id": "72758157-2f46-4fca-9365-8fe38ea47929",
        "name": "Mark as Auto-Sent",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "send-approved-reply",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -704,
          2960
        ],
        "id": "b50eb1e4-6f08-4a31-9ba1-4ddfc13808e2",
        "name": "Send Approved Reply (Webhook)",
        "webhookId": "0afb0b43-f1e7-4343-bd81-5841856a8633"
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "email_logs",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.body.row_id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -128,
          2944
        ],
        "id": "ea5efb38-0bf6-4281-83a3-b1d13ba8c267",
        "name": "Get Approved Row",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "reply",
          "messageId": "={{ $json.message_id }}",
          "emailType": "text",
          "message": "={{ $json.final_response }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          320,
          2944
        ],
        "id": "53c33a5b-f943-4353-86cd-ebbb0c1c8328",
        "name": "Send Final Reply (Gmail)",
        "webhookId": "03a2183c-c9d4-42f0-a993-40ad74851288",
        "credentials": {
          "gmailOAuth2": {
            "id": "7Y94xq6q5K4ZQCYb",
            "name": "Gmail account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "email_logs",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Get Approved Row').item.json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "status",
                "fieldValue": "sent"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          560,
          2944
        ],
        "id": "9f1a669a-5324-4788-9beb-3eccb02e554f",
        "name": "Mark as Sent",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"success\": true, \"row_id\": $('Get Approved Row').item.json.id } }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          800,
          2944
        ],
        "id": "5e1aa422-402a-4fe8-a2d6-09ec854cf2fe",
        "name": "Respond Success"
      },
      {
        "parameters": {
          "content": "HUMAN-IN-THE-LOOP ADD-ON (Workflow 3)\n\nBefore sending: looks up the 'clients' table by recipient email (the support inbox owner) to read an 'auto_send' boolean.\n\n- auto_send = true  -> sends immediately via Gmail, marks row 'auto_sent'\n- auto_send = false -> stops here, row stays 'pending_review'. The customer's reply is sent later by the separate 'Send Approved Reply' workflow when someone clicks Send in the Lovable UI.\n\nREQUIRES: a 'clients' table with columns (email, auto_send boolean). If you already have a clients/accounts table from Workflow 1, just add the auto_send column there instead and point the filter at the matching id field.\n\nAlso requires 3 new columns on 'email_logs': message_id (text), status (text), final_response (text).",
          "height": 360,
          "width": 460
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1680,
          2848
        ],
        "id": "5a46711c-afc4-45af-b6d6-bf87de6f55d9",
        "name": "Sticky Note - HITL addon"
      },
      {
        "parameters": {
          "content": "NEW WORKFLOW: Send Approved Reply\n\nSeparate entry point. Lovable's 'Send' button calls this webhook with { row_id }.\n\nFlow: fetch the row (reads the CURRENT final_response, i.e. whatever was last saved from Lovable, edited or not) -> reply on the original Gmail thread -> mark row 'sent' -> respond OK.\n\nSECURITY: this webhook is currently open (no auth). Before going live: open the Webhook node, set Authentication = Header Auth, create a credential with a secret value, and send that same header from the Lovable button. Otherwise anyone with the URL could trigger a send.\n\nAfter activating the workflow, copy the PRODUCTION webhook URL from this node into Lovable.",
          "height": 320,
          "width": 480
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -128,
          2576
        ],
        "id": "1a2a3538-7231-4cd7-9241-aea2243e4d85",
        "name": "Sticky Note - Webhook workflow"
      },
      {
        "parameters": {
          "content": "Workflow 3: Real-Time Customer Support Automation (The Live Layer)\nIntelligent Inbound Triage and Classification: A live Gmail trigger catches incoming messages instantly, passing them to an OpenRouter LLM classifier. The model analyzes the intent; if it is customer support related, it tags the email with an operational category (shipping, reclamation, policy), otherwise, it simply logs the event as seen.\n\nSemantic Policy Retrieval: For support emails, an autonomous AI Agent acts as the primary tool to resolve the issue. By checking the assigned classification tag, the agent runs a semantic RAG query against the Supabase Vector Store populated in Workflow 2, surgically pulling only the exact business guidelines that match the user's issue.\n\nPersonalized Response and Logging: The AI synthesizes the retrieved rules into a hyper-personalized response and automatically shoots the email reply back to the sender. Simultaneously, it commits the complete transactional details—the incoming message, intent tags, and AI reply—into a central Supabase table to instantly update the Lovable frontend dashboards.",
          "height": 352,
          "width": 592,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          928,
          992
        ],
        "typeVersion": 1,
        "id": "ffd07cd1-d470-44b0-9808-3cfa96d1c857",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b859138f-5484-4167-a988-11cae7d48db1",
                "name": "to.text",
                "value": "={{ $json.from.value[0].address }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1184,
          832
        ],
        "id": "554d904d-0f7e-4f83-ba71-0863ed58569a",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2400,
          944
        ],
        "id": "b044bbb7-85a2-444e-9130-8af54b435fe5",
        "name": "Merge"
      },
      {
        "parameters": {
          "model": "poolside/laguna-xs.2:free",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2064,
          1328
        ],
        "id": "b7a59257-b6b2-4972-beb3-735997699617",
        "name": "OpenRouter Chat Model2",
        "credentials": {
          "openRouterApi": {
            "id": "6rWXPYTYTn7o8mRN",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Thats your input:\n{{ $('Gmail Trigger').item.json.headers.subject }}\n{{ $('Gmail Trigger').item.json.text }}\n\n## Role\nYou are a high-precision Intent Classifier for StarTech. Your goal is to identify the primary reason for a customer's email and output EXACTLY one word.\n\n## Smart Categories\nChoose the most appropriate category from this list:\n\n- **Reclamation**: Combined category for Returns, Refunds, or Exchanges. Use this if the customer wants to send back an item, get their money back, or change a size.\n- **Shipping**: Questions about delivery time, tracking numbers, lost packages, or shipping costs.\n- **Technical**: Issues with product defects, website errors, account login problems, or setup help.\n- **Inventory**: Inquiries about stock levels, restocking dates, or product variations (colors/sizes) being available.\n- **Pricing**: Questions about discounts, promo codes, bulk orders, or price matching.\n- **Urgent**: Legal threats, aggressive complaints, or immediate cancellation requests.\n- **Other**: General greetings, simple thank-yous, or anything that doesn't fit the above.\n\n## Strict Output Rules\n1. Output MUST be exactly one word from the list above.\n2. NO punctuation, NO explanations, NO introductory text.\n3. If the email covers multiple topics, choose the one that requires the most immediate action (e.g., Reclamation > Shipping).\n\n## Classification Example\nInput: \"The shoes are too small, I want my money back.\" -> Output: Reclamation\nInput: \"Where is my order #123?\" -> Output: Shipping",
          "messages": {
            "messageValues": []
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          2096,
          1136
        ],
        "id": "9d860936-74a3-4664-9e5c-253f5edf82e4",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "tableId": "email_logs",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "thread_id",
                "fieldValue": "={{ $('Gmail Trigger').item.json.threadId }}"
              },
              {
                "fieldId": "sender_email",
                "fieldValue": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
              },
              {
                "fieldId": "subject",
                "fieldValue": "={{ $('Gmail Trigger').item.json.subject }}"
              },
              {
                "fieldId": "incoming_message",
                "fieldValue": "={{ $('Gmail Trigger').item.json.text }}"
              },
              {
                "fieldId": "ai_response",
                "fieldValue": "={{ $('AI Agent').item.json.output }}"
              },
              {
                "fieldId": "label",
                "fieldValue": "={{ $json.text }}"
              },
              {
                "fieldId": "client_email",
                "fieldValue": "={{ $('Edit Fields').item.json.to.text }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          2560,
          944
        ],
        "id": "dd147489-31ce-482e-8acd-e4e8e12e0121",
        "name": "Create a row",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Call this tools to access information about Policies and FAQ",
          "tableName": {
            "__rl": true,
            "value": "documents",
            "mode": "list",
            "cachedResultName": "documents"
          },
          "topK": 8,
          "includeDocumentMetadata": false,
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "client_email",
                  "value": "={{ $('Edit Fields').item.json.to.text }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
        "typeVersion": 1.3,
        "position": [
          1920,
          976
        ],
        "id": "50d69791-0686-496a-bbd1-5117320fd83a",
        "name": "Supabase Vector Store1",
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "reply",
          "messageId": "={{ $('Gmail Trigger').item.json.id }}",
          "emailType": "text",
          "message": "={{ $('AI Agent').item.json.output }}",
          "options": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          2128,
          816
        ],
        "id": "36254474-5f0d-4bb9-8b3e-a27d2b1ac70e",
        "name": "Reply to a message",
        "webhookId": "cfaf4110-cb34-44e0-b728-29e6b40bd206",
        "credentials": {
          "gmailOAuth2": {
            "id": "7Y94xq6q5K4ZQCYb",
            "name": "Gmail account 2"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          1808,
          1104
        ],
        "id": "d345327c-cea6-48e6-93ef-9cd0a788915b",
        "name": "Embeddings OpenAI1",
        "credentials": {
          "openAiApi": {
            "id": "awC3JIFfRbIidQ3V",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "model": "openai/gpt-3.5-turbo",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1712,
          992
        ],
        "id": "7121cdb4-9833-464c-827c-16ef3e37550b",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "6rWXPYTYTn7o8mRN",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Gmail Trigger').item.json.text }}",
          "options": {
            "systemMessage": "=## Role and Personality\nYou are Mr. Tony, a senior Customer Support Agent at StarTech. You are known for being incredibly helpful, tech-savvy, and genuinely enthusiastic about solving customer problems. Your tone is warm, professional, and full of positive energy.\n\n## Task Objective\nYour primary goal is to respond to incoming customer emails by retrieving accurate technical data and company policies using the Pinecone vector store tool. You must transform dry, technical information into really formal, easy-to-read instructions.\n\n## Operational Guidelines\n1. **Knowledge Retrieval:** For every query, search the Pinecone vector store first to ensure your information is up-to-date.\n2. **Personalization:** Address the customer by name if available. Acknowledge their specific issue with empathy before jumping into the solution.\n3. **Clarity over Complexity:** Break down technical steps using bullet points or numbered lists. Avoid overwhelming the customer with jargon.\n\n5. ALWAYS return the answer in English Language (Mandatory).\n\n## Constraints and Formatting\n- **Output:** Only output the body of the email. No introductory or concluding remarks from the AI.\n- **Tone:** Friendly and approachable.\n\n## Email Structure\n1. **Greeting:** A warm hello (e.g., \"Hi [Name]! Thanks for reaching out!\").\n2. **Empathy Statement:** A brief sentence showing you understand the situation.\n3. **The Solution:** The core information retrieved from Pinecone, rewritten to be conversational.\n4. **Closing:** A helpful offer for further assistance.\n5. **Signature:** \"Best regards, Mr. Tony from StarTech\".\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          1760,
          768
        ],
        "id": "b72d711b-9e55-4f11-9ab6-916068752a72",
        "name": "AI Agent"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1712,
          1232
        ],
        "id": "7b6f1bf2-d722-48e3-a8d0-684c65a856a8",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "model": "nvidia/nemotron-nano-9b-v2:free",
          "options": {
            "responseFormat": "json_object"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1536,
          960
        ],
        "id": "5d279556-b33b-4f0d-905a-d98ff0029a78",
        "name": "OpenRouter Chat Model",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "maxTries": 5,
        "alwaysOutputData": false,
        "credentials": {
          "openRouterApi": {
            "id": "6rWXPYTYTn7o8mRN",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "inputText": "={{ $('Gmail Trigger').item.json.text }}",
          "categories": {
            "categories": [
              {
                "category": "Customer support",
                "description": "=An email that is related to helping customer. They may be asking questions about our policies, questions about our product or services or questions about refund/return"
              },
              {
                "category": "Other",
                "description": "=Any email that is not customer support related"
              }
            ]
          },
          "options": {
            "systemPromptTemplate": " Don't explain, and only output the json."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          1360,
          832
        ],
        "id": "de38bbb4-00e7-4c02-b8a4-f6131b9da46d",
        "name": "Text Classifier",
        "disabled": true
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "simple": false,
          "filters": {
            "readStatus": "unread"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          992,
          832
        ],
        "id": "dd2e02eb-0a6e-4c75-b21f-094097edca04",
        "name": "Gmail Trigger",
        "credentials": {
          "gmailOAuth2": {
            "id": "7Y94xq6q5K4ZQCYb",
            "name": "Gmail account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "webhook-secret-cond-1",
                "leftValue": "={{ $json.headers['x-webhook-secret'] }}",
                "rightValue": "ef835f45205c5f62fdab2e3d4ee12dcfae0d313383a8087a9dfaad1c069e8e19",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -496,
          2960
        ],
        "id": "a1b2c3d4-0001-4aaa-8bbb-000000000001",
        "name": "Webhook Secret Check"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ { \"error\": \"unauthorized\" } }}",
          "options": {
            "responseCode": 401
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -368,
          3184
        ],
        "id": "a1b2c3d4-0002-4aaa-8bbb-000000000002",
        "name": "Unauthorized Response"
      },
      {
        "parameters": {
          "tableId": "thread_messages",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "client_email",
                "fieldValue": "={{ $('Edit Fields4').item.json.to.text }}"
              },
              {
                "fieldId": "thread_id",
                "fieldValue": "={{ $('Gmail Trigger3').item.json.threadId }}"
              },
              {
                "fieldId": "message_id",
                "fieldValue": "={{ $('Gmail Trigger3').item.json.id }}"
              },
              {
                "fieldId": "sender_email",
                "fieldValue": "={{ $('Gmail Trigger3').item.json.from.value[0].address }}"
              },
              {
                "fieldId": "direction",
                "fieldValue": "inbound"
              },
              {
                "fieldId": "body",
                "fieldValue": "={{ $('Gmail Trigger3').item.json.text }}"
              }
            ]
          }
        },
        "id": "0cf87d47-beb1-400e-beaf-ec55429b6677",
        "name": "Log Inbound Message",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          704,
          2448
        ],
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "thread_messages",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "thread_id",
                "condition": "eq",
                "keyValue": "={{ $('Gmail Trigger3').item.json.threadId }}"
              },
              {
                "keyName": "client_email",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields4').item.json.to.text }}"
              }
            ]
          }
        },
        "id": "c84d501d-c684-4754-9246-74c736345ff8",
        "name": "Get Thread History",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1200,
          1552
        ],
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all().map(i => i.json);\n\nconst historyItems = items.filter(d => d.direction !== undefined);\nconst correctionItems = items.filter(d => d.correction_note !== undefined);\n\nconst historyLines = historyItems.map(d => {\n  const who = d.direction === 'outbound' ? 'Support' : 'Customer';\n  return `${who}: ${d.body}`;\n});\nconst threadHistoryText = historyLines.length > 0\n  ? historyLines.slice(-30).join('\\n\\n')\n  : '(no prior messages in this thread)';\n\nconst correctionLines = correctionItems\n  .map(d => d.correction_note)\n  .filter(Boolean)\n  .slice(0, 15);\nconst correctionPatternsText = correctionLines.length > 0\n  ? correctionLines.map(c => `- ${c}`).join('\\n')\n  : '(no correction history yet for this inbox)';\n\n// The Supabase node has no sort option, so Get Learned Patterns returns every\n// row for this client - pick the newest here rather than trusting row order.\nconst learnedItems = items.filter(d => d.rules !== undefined);\nconst learnedRulesText = learnedItems.length > 0\n  ? [...learnedItems].sort((a, b) => new Date(b.created_at) - new Date(a.created_at))[0].rules\n  : '';\n\nreturn [{ json: { threadHistoryText, correctionPatternsText, learnedRulesText } }];\n"
        },
        "id": "2ac8467b-5478-453c-a69f-6af87ce972f3",
        "name": "Build Memory Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1904,
          2080
        ]
      },
      {
        "parameters": {
          "tableId": "thread_messages",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "client_email",
                "fieldValue": "={{ $('Get Approved Row').item.json.client_email }}"
              },
              {
                "fieldId": "thread_id",
                "fieldValue": "={{ $('Get Approved Row').item.json.thread_id }}"
              },
              {
                "fieldId": "message_id",
                "fieldValue": "={{ $('Get Approved Row').item.json.message_id }}"
              },
              {
                "fieldId": "sender_email",
                "fieldValue": "={{ $('Get Approved Row').item.json.client_email }}"
              },
              {
                "fieldId": "direction",
                "fieldValue": "outbound"
              },
              {
                "fieldId": "body",
                "fieldValue": "={{ $('Get Approved Row').item.json.final_response }}"
              }
            ]
          }
        },
        "id": "9b641868-86ef-40c0-a9a2-161da587dba0",
        "name": "Log Outbound Message",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          448,
          3200
        ],
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "db1a8ef1-e00d-429d-9d5f-f61acced467e",
                "leftValue": "={{ $('Get Approved Row').item.json.ai_response }}",
                "rightValue": "={{ $('Get Approved Row').item.json.final_response }}",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "452f426a-33ad-4b71-9b01-4210a642a7e6",
        "name": "Was Edited?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -16,
          3408
        ]
      },
      {
        "parameters": {
          "model": "anthropic/claude-sonnet-5",
          "options": {}
        },
        "id": "0548b235-9270-4899-84ab-bd29f1398eb4",
        "name": "OpenRouter Chat Model7",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          288,
          3648
        ],
        "credentials": {
          "openRouterApi": {
            "id": "6rWXPYTYTn7o8mRN",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Compare the AI-drafted reply and the final reply that was actually sent, and produce a short correction note to guide future replies for this support inbox.\n\nCustomer's original incoming message:\n{{ $('Get Approved Row').item.json.incoming_message }}\n\nAI draft:\n{{ $('Get Approved Row').item.json.ai_response }}\n\nFinal sent version:\n{{ $('Get Approved Row').item.json.final_response }}\n\nRefinement instructions the reviewer gave the AI, in order, as a JSON array (an empty array means no AI-assisted refinement was used):\n{{ JSON.stringify($('Send Approved Reply (Webhook)').item.json.body.refinement_prompts || []) }}\n\nUse the incoming message to understand what kind of request this is, so the note is properly grounded in that context - not just a generic style note.\n\nHow to produce the note:\n1. If the array is EMPTY: this was a pure manual edit. Describe in 1-2 sentences the specific pattern of what changed between the AI draft and the final sent version (tone, wording, structure, added/removed information).\n2. If the array is NOT empty: start from the refinement instructions as the primary signal (if there is exactly one, preserve its exact meaning; if there are several, synthesize them into one coherent pattern). Then ALSO compare the final sent version against what applying just those instructions would produce. If the reviewer additionally made manual changes beyond what the instructions describe (extra wording tweaks, additions, removals not covered by any instruction), fold that additional pattern into the note too, briefly. The note should reflect everything a reviewer changed, not only what they typed as an instruction.\n\nOutput only the note itself, 1-3 sentences, describing the full pattern of what a reviewer wants changed. Do not repeat the full draft or final text back.",
          "messages": {
            "messageValues": []
          },
          "batching": {}
        },
        "id": "dfc4cd32-452f-4848-b4e9-a99cccf33553",
        "name": "Summarize Correction",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          400,
          3488
        ]
      },
      {
        "parameters": {
          "tableId": "reply_corrections",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "client_email",
                "fieldValue": "={{ $('Get Approved Row').item.json.client_email }}"
              },
              {
                "fieldId": "thread_id",
                "fieldValue": "={{ $('Get Approved Row').item.json.thread_id }}"
              },
              {
                "fieldId": "email_log_id",
                "fieldValue": "={{ $('Get Approved Row').item.json.id }}"
              },
              {
                "fieldId": "ai_draft",
                "fieldValue": "={{ $('Get Approved Row').item.json.ai_response }}"
              },
              {
                "fieldId": "final_sent",
                "fieldValue": "={{ $('Get Approved Row').item.json.final_response }}"
              },
              {
                "fieldId": "correction_note",
                "fieldValue": "={{ $('Summarize Correction').item.json.text }}"
              },
              {
                "fieldId": "source",
                "fieldValue": "={{ ($('Send Approved Reply (Webhook)').item.json.body.refinement_prompts || []).length > 0 ? 'ai_refine' : 'human_edit' }}"
              },
              {
                "fieldId": "embedding",
                "fieldValue": "={{ '[' + $('Embed Incoming Message').item.json.data[0].embedding.join(',') + ']' }}"
              }
            ]
          }
        },
        "id": "fd814e35-616b-43fa-9530-ddb9664bab46",
        "name": "Log Correction",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1040,
          3392
        ],
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "tableId": "thread_messages",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "client_email",
                "fieldValue": "={{ $('Create a row2').item.json.client_email }}"
              },
              {
                "fieldId": "thread_id",
                "fieldValue": "={{ $('Create a row2').item.json.thread_id }}"
              },
              {
                "fieldId": "message_id",
                "fieldValue": "={{ $('Create a row2').item.json.message_id }}"
              },
              {
                "fieldId": "sender_email",
                "fieldValue": "={{ $('Create a row2').item.json.client_email }}"
              },
              {
                "fieldId": "direction",
                "fieldValue": "outbound"
              },
              {
                "fieldId": "body",
                "fieldValue": "={{ $('Create a row2').item.json.final_response }}"
              }
            ]
          }
        },
        "id": "c7e2dca7-b09c-459b-af81-573f3770fcd0",
        "name": "Log Outbound Message (Auto)",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          3408,
          2528
        ],
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "id": "2d7ea3df-1afc-423f-8beb-ffd3a7919280",
        "name": "Merge Memory Sources",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1664,
          1760
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/embeddings",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'text-embedding-ada-002', input: $('Get Approved Row').item.json.incoming_message || '(no incoming message)' }) }}",
          "options": {}
        },
        "id": "622ab9c8-075d-4ab6-afb2-9ca9e3a3c9ac",
        "name": "Embed Incoming Message",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          736,
          3456
        ],
        "credentials": {
          "openAiApi": {
            "id": "awC3JIFfRbIidQ3V",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/embeddings",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'text-embedding-ada-002', input: $('Gmail Trigger3').item.json.text || '(no message text)' }) }}",
          "options": {}
        },
        "id": "875f67f0-23f7-4e87-931b-2acb1fce6cf8",
        "name": "Embed Current Message",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1120,
          1840
        ],
        "credentials": {
          "openAiApi": {
            "id": "awC3JIFfRbIidQ3V",
            "name": "OpenAI account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://pmyadlizhyztvfvpdosf.supabase.co/rest/v1/rpc/match_reply_corrections",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "supabaseApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ query_embedding: $json.data[0].embedding, match_client_email: $('Edit Fields4').item.json.to.text, match_count: 15 }) }}",
          "options": {}
        },
        "id": "69406ff8-2957-44f9-9436-4bff616685a5",
        "name": "Get Similar Corrections",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1360,
          1840
        ],
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "learned_patterns",
          "limit": 30,
          "filters": {
            "conditions": [
              {
                "keyName": "client_email",
                "condition": "eq",
                "keyValue": "={{ $('Edit Fields4').item.json.to.text }}"
              }
            ]
          }
        },
        "id": "b1e6c1f2-0a1a-4c1a-9a1a-ansera00lp01",
        "name": "Get Learned Patterns",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1424,
          2048
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "OyuachsdOtpB3Q3y",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Draft-vs-final significance gate: only log a correction if the human\n// changed >=2% of the reply text (normalized Levenshtein). Skips trivial\n// edits (typos, spacing, punctuation) that would otherwise pollute reply_corrections.\nconst row = $(\"Get Approved Row\").first().json;\nconst a = String(row.ai_response || \"\").trim();\nconst b = String(row.final_response || \"\").trim();\nfunction lev(s, t) {\n  const m = s.length, n = t.length;\n  if (!m) return n; if (!n) return m;\n  let prev = [], cur = [];\n  for (let j = 0; j <= n; j++) prev[j] = j;\n  for (let i = 1; i <= m; i++) {\n    cur[0] = i;\n    for (let j = 1; j <= n; j++) {\n      const cost = s[i-1] === t[j-1] ? 0 : 1;\n      cur[j] = Math.min(cur[j-1] + 1, prev[j] + 1, prev[j-1] + cost);\n    }\n    prev = cur.slice();\n  }\n  return prev[n];\n}\nconst dist = lev(a, b);\nconst maxLen = Math.max(a.length, b.length) || 1;\nconst similarity = 1 - dist / maxLen;\nif (similarity >= 0.98) {\n  return []; // trivial edit -> do not log as a correction\n}\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          3456
        ],
        "id": "a1b2c3d4-e5f6-47a8-9b0c-1d2e3f4a5b6c",
        "name": "Edit Significance Gate"
      }
    ],
    "connections": {
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Supabase Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI2": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store2",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store2": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Create a row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "No Operation, do nothing2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Remove Duplicates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows1": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get many rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many rows": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Update a document2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a document": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "No Operation, do nothing1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a document2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a document": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Get a document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Get many rows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gmail Trigger3": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Text Classifier1": {
        "main": [
          [
            {
              "node": "Basic LLM Chain1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Thread History",
              "type": "main",
              "index": 0
            },
            {
              "node": "Embed Current Message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Learned Patterns",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model4": {
        "ai_languageModel": [
          [
            {
              "node": "Text Classifier1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent2": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI3": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store3",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Reply to a message1": {
        "main": [
          [
            {
              "node": "Mark as Auto-Sent",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log Outbound Message (Auto)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "OpenRouter Chat Model6": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Create a row2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Text Classifier1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log Inbound Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Remove Duplicates": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript3": {
        "main": [
          [
            {
              "node": "Update a document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a row2": {
        "main": [
          [
            {
              "node": "Get Client Auto-Send Setting",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Client Auto-Send Setting": {
        "main": [
          [
            {
              "node": "Auto-Send?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auto-Send?": {
        "main": [
          [
            {
              "node": "Reply to a message1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Waiting for Manual Approval",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Approved Reply (Webhook)": {
        "main": [
          [
            {
              "node": "Webhook Secret Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Approved Row": {
        "main": [
          [
            {
              "node": "Send Final Reply (Gmail)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Was Edited?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Final Reply (Gmail)": {
        "main": [
          [
            {
              "node": "Mark as Sent",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log Outbound Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark as Sent": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Text Classifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Create a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reply to a message": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "Supabase Vector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Reply to a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Text Classifier": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            },
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Text Classifier",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Secret Check": {
        "main": [
          [
            {
              "node": "Get Approved Row",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Unauthorized Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Thread History": {
        "main": [
          [
            {
              "node": "Merge Memory Sources",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Memory Context": {
        "main": [
          [
            {
              "node": "AI Agent2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model7": {
        "ai_languageModel": [
          [
            {
              "node": "Summarize Correction",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Was Edited?": {
        "main": [
          [
            {
              "node": "Edit Significance Gate",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Summarize Correction": {
        "main": [
          [
            {
              "node": "Embed Incoming Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Memory Sources": {
        "main": [
          [
            {
              "node": "Build Memory Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embed Incoming Message": {
        "main": [
          [
            {
              "node": "Log Correction",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embed Current Message": {
        "main": [
          [
            {
              "node": "Get Similar Corrections",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Similar Corrections": {
        "main": [
          [
            {
              "node": "Merge Memory Sources",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "OpenRouter Chat Model5": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent2",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Supabase Vector Store3": {
        "ai_tool": [
          [
            {
              "node": "AI Agent2",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get Learned Patterns": {
        "main": [
          [
            {
              "node": "Merge Memory Sources",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Edit Significance Gate": {
        "main": [
          [
            {
              "node": "Summarize Correction",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": {
      "node:Gmail Trigger3": {
        "Gmail Trigger3": {
          "lastTimeChecked": 1784568357,
          "possibleDuplicates": [
            "19f8090242ba543d",
            "19f8046eb7b0252a"
          ]
        }
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "ba40bbb4-47e5-444a-91ef-4c57aa2f648d",
    "activeVersionId": "aed24827-be33-4cf8-8c23-5e44ccdc0fdf",
    "versionCounter": 411,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-06-24T14:08:59.581Z",
        "createdAt": "2026-06-24T14:08:59.581Z",
        "role": "workflow:owner",
        "workflowId": "fXQTTKCeR7wcj9IL",
        "projectId": "B3fRHQm55w7FvvKO",
        "project": {
          "updatedAt": "2026-04-05T19:31:14.258Z",
          "createdAt": "2026-04-05T19:27:00.979Z",
          "id": "B3fRHQm55w7FvvKO",
          "name": "Ceco Simeonov <bobgopnipop@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "5ffe1f95-ed08-4e0d-8942-8dcd9c6724c7"
        }
      }
    ],
    "versionMetadata": {
      "name": null,
      "description": null
    }
  }
]