n8n/Customer Support Agent v1 Supabase.json
{"updatedAt":"2026-07-09T17:05:02.757Z","createdAt":"2026-06-24T14:08:59.573Z","id":"fXQTTKCeR7wcj9IL","name":"Customer Support Agent v1 Supabase","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"16rZLII8YsZEkCJ1azyrwqRDgpKVx--W0","mode":"list","cachedResultName":"POLICY AND FAQ","cachedResultUrl":"https://drive.google.com/drive/folders/16rZLII8YsZEkCJ1azyrwqRDgpKVx--W0"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-96,848],"id":"8d1e1850-5299-41f2-a673-cbe20e72567e","name":"Google Drive Trigger","credentials":{"googleDriveOAuth2Api":{"id":"3FpYmtNwka35qDSI","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,848],"id":"f407a111-65b5-4a19-aa84-a2ac9a2d9dae","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"3FpYmtNwka35qDSI","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[496,992],"id":"b6255436-9487-453a-9b37-da00587b57ec","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"awC3JIFfRbIidQ3V","name":"OpenAI account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[608,960],"id":"da10a0f6-c833-4584-b3e4-2a8bd317d5c2","name":"Default Data Loader"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[528,1152],"id":"4bd3e3b9-c323-4462-b121-1762885b8adf","name":"Recursive Character Text Splitter"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[320,848],"id":"f1047ad5-a963-4677-a7df-20035cccbe8b","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"={{ $json.content }}","options":{"systemMessage":"### SYSTEM INSTRUCTION: TRIGGER SUPABASE TOOL IMMEDIATELY\n\nYou have an active integration with a Supabase database tool. Before generating any analysis or asking any questions, you MUST immediately call the Supabase tool to query and pull the following data required for your role:\n\n1. All client support tickets, emails, and complaints from the past month (to serve as your [INCOMING MESSAGES] dataset).\n\n2. The current company FAQ, business rules, and policy documentation (to serve as your [FAQ POLICY] dataset).\n\n\n\nDo not wait for the user to provide this text manually. Query the database now.\n\n\n\n---\n\n\n\n### ROLE & PROFILE\n\nYou are an elite Customer Experience (CX) Auditor, Operations Analyst, and Predictive Business Strategist. Your core objective is to analyze customer friction points, diagnose structural gaps in documentation, and provide predictive, high-impact solutions that directly optimize business operations and protect revenue based on the data retrieved from Supabase.\n\n\n\n---\n\n\n\n### CRITICAL CORE PHILOSOPHY\n\nDo NOT give generic, superficial, or textbook advice (e.g., \"Improve response times,\" \"Make the pricing clearer,\" or \"Train the staff\"). Every recommendation must be a deep \"Root Cause Analysis\" (using the 5 Whys methodology). You must uncover the hidden operational or psychological triggers behind the messages. Look for discrepancies between reality (what the customer experiences) and documentation (what the FAQ claims).\n\n\n\n---\n\n\n\n### EVALUATION FRAMEWORK\n\nWhen analyzing the [INCOMING MESSAGES] against the [FAQ POLICY] fetched from Supabase, evaluate the data using these three lenses:\n\n1. Product/Service Flaws: Glitches, delays, or physical barriers in the product/service that the FAQ is trying to \"cover up\" or poorly explain.\n\n2. Information Asymmetry: Places where the FAQ uses confusing legal/technical jargon, or simply omits crucial timeline anchors (e.g., \"Refunds take a few days\" vs \"Refunds take 3-5 business days from the moment the warehouse inspects the item\").\n\n3. Predictive Trend Analysis: Identifying subtle escalation patterns. If 5 people complained about a specific policy rule in week 1, and 20 complained in week 4, project how this friction point will scale and damage the business if left untouched.\n\n\n\n---\n\n\n\n### OUTPUT REQUIREMENTS\n\nYou must generate exactly 5 granular, strategic recommendations. For each advice, you must strictly follow the hyper-detailed 5-part structure below. Avoid fluff; use data-driven logic.\n\n\n\nFormat your entire output using the following Markdown template:\n\n\n\n## EXECUTIVE BRIEF & FINANCIAL HORIZON\n\n[Provide a high-level, 3-sentence diagnostic overview of the past month's data. Identify the single largest macroeconomic or operational driver of negative sentiment, and estimate the invisible drain it has on support staff resources.]\n\n\n\n## DEEP-DIVE STRATEGIC RECOMMENDATIONS\n\n\n\n### 1. 🎯 [Descriptive, Metric-Driven Title of Advice]\n\n- **THE SYMPTOM (Raw Customer Friction):** Cite exact trends, phrasing, or recurring thematic patterns from last month's messages. Quantify the volume or emotional velocity of this complaint (e.g., \"High-frequency frustration regarding...\").\n\n- **THE ROOT CAUSE DIAGNOSIS (The 5 Whys Analysis):** Peel back the layers. Why exactly are they writing? What is the hidden gap, contradiction, or omission in the current [FAQ POLICY] that failed to prevent this email? \n\n- **FINANCIAL & OPERATIONAL RISK ASSESSMENT:** What does the business lose if we do nothing? (Calculate the compounding cost: wasted support hours, customer churn/refunds, negative public reviews, chargebacks, or lost Lifetime Value).\n\n- **THE EXACT DOCUMENTATION SURGERY (Ready-to-Paste Text):** Provide the exact, word-for-word text, tables, or structural updates that must be inserted into the [FAQ POLICY] right now. Use clear, user-centric, psychological anchoring language to eliminate ambiguity.\n\n- **THE STRATEGIC COUNTER-ARGUMENT & KPI TO TRACK:** Play devil's advocate against your own advice. Why might this change NOT fully solve the problem? What specific operational metric must the team monitor next month to verify success?\n\n\n\n---\n\n\n\n### 2. 🎯 [Title of Advice]\n\n- **THE SYMPTOM (Raw Customer Friction):** ...\n\n- **THE ROOT CAUSE DIAGNOSIS:** ...\n\n- **FINANCIAL & OPERATIONAL RISK ASSESSMENT:** ...\n\n- **THE EXACT DOCUMENTATION SURGERY:** ...\n\n- **THE STRATEGIC COUNTER-ARGUMENT & KPI TO TRACK:** ...\n\n\n\n[Repeat this exact 5-part sub-structure for Recommendations 3, 4, and 5]\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1824,400],"id":"b3a34d0f-5726-49d5-8ac4-43d350f6fccc","name":"AI Agent1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1856,0],"id":"c347ae9d-914a-4733-8553-a1aa6307a7f7","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"awC3JIFfRbIidQ3V","name":"OpenAI account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=Call this tools to access information about Policies and FAQ\n","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"metadata":{"metadataValues":[{"name":"client_email","value":"={{ $('Loop Over Items').item.json.email }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1856,160],"id":"894cc662-7135-4e93-b8c6-b7ca101532fa","name":"Supabase Vector Store2","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"model":"bytedance-seed/seed-2.0-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1680,144],"id":"33397511-7a5f-4982-bf6d-1c094ecce806","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"6rWXPYTYTn7o8mRN","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[608,400],"id":"e3ad5b48-23a6-45ca-b73f-8aef06996afa","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"7546efec-ece9-45bf-9127-d29a0c431363","name":"email","value":"={{ $json.client_email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,400],"id":"0f193954-e8a5-428a-9538-107f94544d30","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"1b95f192-c8af-422a-92b0-d6933585b8c8","name":"incoming_message","value":"={{ $json.incoming_message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,400],"id":"b94f8c70-b9dc-403a-b94e-39e386f8379e","name":"Edit Fields5"},{"parameters":{"operation":"getAll","tableId":"email_logs","filters":{"conditions":[{"keyName":"client_email","condition":"eq","keyValue":"={{ $('Loop Over Items').item.json.email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[912,400],"id":"03838a9b-8d65-40b0-981b-0ddeb1a54df5","name":"Get many rows1","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,400],"id":"e8673621-27ab-4a31-9ac7-8a37f68406c9","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","tableId":"email_logs","filters":{"conditions":[]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[176,400],"id":"2ddaeffd-bfc5-4d5d-ae04-792458dfa7cf","name":"Get many rows","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"955f0f2e-0969-4ac2-8add-7f3059d0154b","leftValue":"={{ $('Get a document').item.json.content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2272,400],"id":"00175985-78e9-489c-a383-6f752586edea","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2608,416],"id":"6ae2bbe8-8ab7-4aa3-8588-b64bd96d85d0","name":"No Operation, do nothing1"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/19aXsvpIES2g8UJdwwOuC3FNl5tTcP2_bsH5qUZUBuEA/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"replaceAll","text":"={{ $('Get a document').item.json.content }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2432,384],"id":"7fd84134-52bd-4647-8d96-c465197e791e","name":"Update a document2","credentials":{"googleDocsOAuth2Api":{"id":"SsUH5ny7j3ezJrBF","name":"Google Docs account"}}},{"parameters":{"operation":"get","documentURL":"={{ $json.documentId }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1648,400],"id":"017b35b6-0ed9-483f-b10c-cb3aa081d5cc","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"SsUH5ny7j3ezJrBF","name":"Google Docs account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[816,128],"id":"5cfd6413-90c2-4ee0-8cf4-bc8c4e0357b4","name":"No Operation, do nothing2"},{"parameters":{"operation":"update","documentURL":"https://docs.google.com/document/d/19aXsvpIES2g8UJdwwOuC3FNl5tTcP2_bsH5qUZUBuEA/edit?tab=t.0","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.myRow }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1344,400],"id":"7f9baca4-55dc-4ebc-84f7-105d8cfe3f08","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"SsUH5ny7j3ezJrBF","name":"Google Docs account"}}},{"parameters":{"jsCode":"return [$input.first()];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,400],"id":"343466af-f187-411f-bd24-8c88b96cd0f8","name":"Code in JavaScript1"},{"parameters":{"jsCode":"let email = $input.first().json.email || \"\";\nlet username = email.split('@')[0];\n\nreturn [\n  {\n    json: {\n      text: username\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,400],"id":"abd74c11-3609-4721-b452-79bf5f49605e","name":"Code in JavaScript2"},{"parameters":{"tableId":"ai_recommendations","fieldsUi":{"fieldValues":[{"fieldId":"email","fieldValue":"={{ $('Loop Over Items').item.json.email }}"},{"fieldId":"suggestions","fieldValue":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2096,400],"id":"6d7d3103-6980-4aec-9b06-70f3c93229ab","name":"Create a row1","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[1152,2176],"id":"0f022931-1e52-4839-ba7d-14c283aad6a5","name":"Gmail Trigger3","credentials":{"gmailOAuth2":{"id":"D0ApLWDnfrikYAn4","name":"Gmail account 3"}}},{"parameters":{"inputText":"={{ $('Gmail Trigger3').item.json.text }}","categories":{"categories":[{"category":"Customer support","description":"=An email that is related to helping customer. They may be asking questions about our policies, questions about our product or services or questions about refund/return"},{"category":"Other","description":"=Any email that is not customer support related"}]},"options":{"systemPromptTemplate":" Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[1520,2176],"id":"44bf8d86-a41a-4ee9-a088-60015fa964c7","name":"Text Classifier1","disabled":true},{"parameters":{"model":"nvidia/nemotron-nano-9b-v2:free","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1536,2352],"id":"42eaf0b9-7533-4d3a-a311-5f2cedaa6409","name":"OpenRouter Chat Model4","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"alwaysOutputData":false,"credentials":{"openRouterApi":{"id":"6rWXPYTYTn7o8mRN","name":"OpenRouter account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1760,2544],"id":"891c625a-c682-4fe3-b476-72383371990a","name":"No Operation, do nothing3"},{"parameters":{"promptType":"define","text":"={{ $('Gmail Trigger3').item.json.text }}","options":{"systemMessage":"=## Role and Personality\nYou are Mr. Tony, a senior Customer Support Agent at StarTech. You are known for being incredibly helpful, tech-savvy, and genuinely enthusiastic about solving customer problems. Your tone is warm, professional, and full of positive energy.\n\n## Task Objective\nYour primary goal is to respond to incoming customer emails by retrieving accurate technical data and company policies using the Pinecone vector store tool. You must transform dry, technical information into friendly, easy-to-read instructions.\n\n## Operational Guidelines\n1. **Knowledge Retrieval:** For every query, search the Pinecone vector store first to ensure your information is up-to-date.\n2. **Personalization:** Address the customer by name if available. Acknowledge their specific issue with empathy before jumping into the solution.\n3. **Clarity over Complexity:** Break down technical steps using bullet points or numbered lists. Avoid overwhelming the customer with jargon.\n4. **Style & Emojis:** Use relevant emojis (e.g., 🚀, 🛠️, ✨) to maintain a friendly atmosphere, but keep it professional.\n5. ALWAYS return the answer in Bulgarian Language (Mandatory).\n\n## Constraints and Formatting\n- **Output:** Only output the body of the email. No introductory or concluding remarks from the AI.\n- **Tone:** Friendly and approachable.\n\n## Email Structure\n1. **Greeting:** A warm hello (e.g., \"Hi [Name]! Thanks for reaching out!\").\n2. **Empathy Statement:** A brief sentence showing you understand the situation.\n3. **The Solution:** The core information retrieved from Pinecone, rewritten to be conversational.\n4. **Closing:** A helpful offer for further assistance.\n5. **Signature:** \"Best regards, Mr. Tony from StarTech\".\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1920,2112],"id":"90916642-aee6-4f26-802b-12cb72af7223","name":"AI Agent2"},{"parameters":{"model":"bytedance-seed/seed-2.0-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1808,2336],"id":"77b4d200-dbf1-44f1-afd2-5f5da0fddbab","name":"OpenRouter Chat Model5","credentials":{"openRouterApi":{"id":"6rWXPYTYTn7o8mRN","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2032,2496],"id":"4aafcd58-83d6-4850-967b-2316a9ecf2ae","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"awC3JIFfRbIidQ3V","name":"OpenAI account"}}},{"parameters":{"operation":"reply","messageId":"={{ $('Gmail Trigger3').item.json.id }}","emailType":"text","message":"={{ $('AI Agent2').item.json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[3200,2432],"id":"45edb9a7-3aeb-4d93-9535-f53fef347951","name":"Reply to a message1","webhookId":"cfaf4110-cb34-44e0-b728-29e6b40bd206","credentials":{"gmailOAuth2":{"id":"D0ApLWDnfrikYAn4","name":"Gmail account 3"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Call this tools to access information about Policies and FAQ","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":8,"includeDocumentMetadata":false,"options":{"metadata":{"metadataValues":[{"name":"client_email","value":"={{ $('Edit Fields4').item.json.to.text }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[2080,2320],"id":"bade20ee-b1d0-4892-83ca-f5878b73a66d","name":"Supabase Vector Store3","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"tableId":"email_logs","fieldsUi":{"fieldValues":[{"fieldId":"thread_id","fieldValue":"={{ $('Gmail Trigger3').item.json.threadId }}"},{"fieldId":"sender_email","fieldValue":"={{ $('Gmail Trigger3').item.json.from.value[0].address }}"},{"fieldId":"subject","fieldValue":"={{ $('Gmail Trigger3').item.json.subject }}"},{"fieldId":"incoming_message","fieldValue":"={{ $('Gmail Trigger3').item.json.text }}"},{"fieldId":"ai_response","fieldValue":"={{ $('AI Agent2').item.json.output }}"},{"fieldId":"label","fieldValue":"={{ $json.text }}"},{"fieldId":"client_email","fieldValue":"={{ $('Edit Fields4').item.json.to.text }}"},{"fieldId":"message_id","fieldValue":"={{ $('Gmail Trigger3').item.json.id }}"},{"fieldId":"status","fieldValue":"pending_review"},{"fieldId":"final_response","fieldValue":"={{ $('AI Agent2').item.json.output }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2752,2016],"id":"a9be9fd0-d844-4889-9e57-58b0cede1408","name":"Create a row2","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"=Thats your input:\n{{ $('Gmail Trigger3').item.json.headers.subject }}\n{{ $('Gmail Trigger3').item.json.text }}\n\n## Role\nYou are a high-precision Intent Classifier for StarTech. Your goal is to identify the primary reason for a customer's email and output EXACTLY one word.\n\n## Smart Categories\nChoose the most appropriate category from this list:\n\n- **Reclamation**: Combined category for Returns, Refunds, or Exchanges. Use this if the customer wants to send back an item, get their money back, or change a size.\n- **Shipping**: Questions about delivery time, tracking numbers, lost packages, or shipping costs.\n- **Technical**: Issues with product defects, website errors, account login problems, or setup help.\n- **Inventory**: Inquiries about stock levels, restocking dates, or product variations (colors/sizes) being available.\n- **Pricing**: Questions about discounts, promo codes, bulk orders, or price matching.\n- **Urgent**: Legal threats, aggressive complaints, or immediate cancellation requests.\n- **Other**: General greetings, simple thank-yous, or anything that doesn't fit the above.\n\n## Strict Output Rules\n1. Output MUST be exactly one word from the list above.\n2. NO punctuation, NO explanations, NO introductory text.\n3. If the email covers multiple topics, choose the one that requires the most immediate action (e.g., Reclamation > Shipping).\n\n## Classification Example\nInput: \"The shoes are too small, I want my money back.\" -> Output: Reclamation\nInput: \"Where is my order #123?\" -> Output: Shipping","messages":{"messageValues":[]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[2256,2480],"id":"b731fbc9-01b8-4f7f-b705-c38d343fbe00","name":"Basic LLM Chain1"},{"parameters":{"model":"bytedance-seed/seed-2.0-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2224,2672],"id":"4ba02059-0456-4670-908c-e4d667a6b8ec","name":"OpenRouter Chat Model6","credentials":{"openRouterApi":{"id":"6rWXPYTYTn7o8mRN","name":"OpenRouter account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2480,2000],"id":"7689176e-6f4d-4136-9fbe-53c1955b8ce3","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"b859138f-5484-4167-a988-11cae7d48db1","name":"to.text","value":"={{ $json.from.value[0].address }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,2176],"id":"c09b4ad4-fb32-4573-a92c-ae2f101683b4","name":"Edit Fields4"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[432,400],"id":"07e21add-ca54-4242-bede-67f327a10464","name":"Remove Duplicates"},{"parameters":{"jsCode":"// 1. Взимаме индекса на текущото завъртане на ГОЛЕМИЯ цикъл\n// Използваме 'Loop Over Items' (първия ти голям цикъл), за да разберем на кой потребител сме в момента\nconst currentIteration = $('Loop Over Items').context.currentIteration;\n\n// 2. Взимаме данните от Edit Fields5, но филтрирани САМО за това конкретно завъртане\nconst currentInputs = $input.all().filter(item => item.pairedItem && item.pairedItem.iteration === currentIteration);\n\n// Застраховка: ако n8n няма pairedItem информация, вземи просто текущия входящ масив за тази итерация\nconst itemsToProcess = currentInputs.length > 0 ? currentInputs : $input.all();\n\n// 3. Обхождаме само филтрираните елементи\nreturn itemsToProcess.map(item => {\n  let myRowText = \"\";\n\n  if (item.json && item.json.incoming_message) {\n    myRowText = typeof item.json.incoming_message === 'object' \n      ? (item.json.incoming_message.row || JSON.stringify(item.json.incoming_message)) \n      : item.json.incoming_message;\n  } else if (item.json) {\n    const firstValue = Object.values(item.json)[0];\n    myRowText = typeof firstValue === 'object' ? JSON.stringify(firstValue) : firstValue;\n  }\n\n  if (!myRowText || myRowText === \"undefined\") {\n    myRowText = \"Празно съобщение / Грешка при четене\";\n  }\n\n  const formattedOutput = `\\n\\n● ${myRowText}\\n\\n`;\n  const base64Data = Buffer.from(formattedOutput, 'utf-8').toString('base64');\n\n  return {\n    json: { \n      incoming_message: myRowText,\n      myRow: formattedOutput\n    },\n    binary: {\n      data: { \n        data: base64Data,\n        mimeType: 'text/plain',\n        fileName: 'temp_row.txt'\n      }\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,400],"id":"be301550-e362-440b-ac48-584fc182e26c","name":"Code in JavaScript3"},{"parameters":{"content":"Workflow 1: Macro Monthly Performance Optimization\nData Ingestion and Context Aggregation: The workflow scans historical email logs from the past 30 days to isolate unique users, filters out duplicates, and enters a linear processing loop. For each unique user, it aggregates their full communication history and compiles the raw text into a temporary Google Doc to create a consolidated session dataset.\n\nRetrieval-Augmented Generation & Analysis: This compiled document is handed directly to an autonomous AI Agent. The Agent references the accumulated logs against the client's custom business guidelines, evaluating operational weaknesses to output exactly five highly tailored, data-driven recommendations on how they can improve their services, website, or products.\n\nState Persistence and Environment Reset: The workflow writes these five strategic recommendations straight into a relational Supabase table indexed securely by the user's account ID for dashboard visibility. Once saved, a cleanup step completely wipes the temporary Google Doc, clearing the cache to isolate data privacy boundaries before looping to the next client.","height":336,"width":688,"color":"#036825"},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"2fffcfd3-c908-469c-820e-e5e577610ae8","name":"Sticky Note"},{"parameters":{"content":"Workflow 2: Automated Knowledge Scraping and Vector Ingestion\nRaw Document Trigger and Download: The workflow is automatically triggered by Google Drive whenever a new file is uploaded or updated. This document typically contains raw, freshly scraped website data, updated organizational FAQs, shipping policies, and operational client guidelines.\n\nSemantic Chunking and Processing: The downloaded file passes into a Recursive Character Text Splitter node. This component slices the large blocks of unstructured company text into optimized, overlapping fragments, ensuring that crucial context isn't awkwardly split mid-sentence.\n\nVector Embedding Generation and Storage: These text segments are sent to an OpenAI Embeddings model to generate mathematical vector values. The workflow then streams these embeddings and their matching text metadata directly into a multi-tenant Supabase Vector Store, building an optimized knowledge base for real-time AI retrieval.","height":352,"width":608,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-160,1008],"typeVersion":1,"id":"431e4979-e099-4d83-b51b-e8f7865bf5cf","name":"Sticky Note1"},{"parameters":{"operation":"getAll","tableId":"clients","filters":{"conditions":[{"keyName":"email","condition":"eq","keyValue":"={{ $('Edit Fields4').item.json.to.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2960,2016],"id":"5bcdb6cd-7e4d-4213-83cb-581f7aad566c","name":"Get Client Auto-Send Setting","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b652d57e-237d-4037-bced-463b6e37fe60","leftValue":"={{ $json.auto_send }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[2896,2512],"id":"e845e10c-aeac-4e87-b6bd-559a673b1035","name":"Auto-Send?"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3104,3088],"id":"93d7a466-33f6-458d-bd74-30d8e7b072f0","name":"Waiting for Manual Approval"},{"parameters":{"operation":"update","tableId":"email_logs","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Create a row2').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"auto_sent"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3408,2400],"id":"72758157-2f46-4fca-9365-8fe38ea47929","name":"Mark as Auto-Sent","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"httpMethod":"POST","path":"send-approved-reply","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,2960],"id":"b50eb1e4-6f08-4a31-9ba1-4ddfc13808e2","name":"Send Approved Reply (Webhook)","webhookId":"0afb0b43-f1e7-4343-bd81-5841856a8633"},{"parameters":{"operation":"getAll","tableId":"email_logs","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $json.body.row_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[80,2960],"id":"ea5efb38-0bf6-4281-83a3-b1d13ba8c267","name":"Get Approved Row","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"operation":"reply","messageId":"={{ $json.message_id }}","emailType":"text","message":"={{ $json.final_response }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[320,2960],"id":"53c33a5b-f943-4353-86cd-ebbb0c1c8328","name":"Send Final Reply (Gmail)","webhookId":"03a2183c-c9d4-42f0-a993-40ad74851288","credentials":{"gmailOAuth2":{"id":"D0ApLWDnfrikYAn4","name":"Gmail account 3"}}},{"parameters":{"operation":"update","tableId":"email_logs","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Get Approved Row').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"sent"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[560,2960],"id":"9f1a669a-5324-4788-9beb-3eccb02e554f","name":"Mark as Sent","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"row_id\": $('Get Approved Row').item.json.id } }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,2960],"id":"5e1aa422-402a-4fe8-a2d6-09ec854cf2fe","name":"Respond Success"},{"parameters":{"content":"HUMAN-IN-THE-LOOP ADD-ON (Workflow 3)\n\nBefore sending: looks up the 'clients' table by recipient email (the support inbox owner) to read an 'auto_send' boolean.\n\n- auto_send = true  -> sends immediately via Gmail, marks row 'auto_sent'\n- auto_send = false -> stops here, row stays 'pending_review'. The customer's reply is sent later by the separate 'Send Approved Reply' workflow when someone clicks Send in the Lovable UI.\n\nREQUIRES: a 'clients' table with columns (email, auto_send boolean). If you already have a clients/accounts table from Workflow 1, just add the auto_send column there instead and point the filter at the matching id field.\n\nAlso requires 3 new columns on 'email_logs': message_id (text), status (text), final_response (text).","height":360,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,2848],"id":"5a46711c-afc4-45af-b6d6-bf87de6f55d9","name":"Sticky Note - HITL addon"},{"parameters":{"content":"NEW WORKFLOW: Send Approved Reply\n\nSeparate entry point. Lovable's 'Send' button calls this webhook with { row_id }.\n\nFlow: fetch the row (reads the CURRENT final_response, i.e. whatever was last saved from Lovable, edited or not) -> reply on the original Gmail thread -> mark row 'sent' -> respond OK.\n\nSECURITY: this webhook is currently open (no auth). Before going live: open the Webhook node, set Authentication = Header Auth, create a credential with a secret value, and send that same header from the Lovable button. Otherwise anyone with the URL could trigger a send.\n\nAfter activating the workflow, copy the PRODUCTION webhook URL from this node into Lovable.","height":320,"width":480},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-128,2576],"id":"1a2a3538-7231-4cd7-9241-aea2243e4d85","name":"Sticky Note - Webhook workflow"},{"parameters":{"content":"Workflow 3: Real-Time Customer Support Automation (The Live Layer)\nIntelligent Inbound Triage and Classification: A live Gmail trigger catches incoming messages instantly, passing them to an OpenRouter LLM classifier. The model analyzes the intent; if it is customer support related, it tags the email with an operational category (shipping, reclamation, policy), otherwise, it simply logs the event as seen.\n\nSemantic Policy Retrieval: For support emails, an autonomous AI Agent acts as the primary tool to resolve the issue. By checking the assigned classification tag, the agent runs a semantic RAG query against the Supabase Vector Store populated in Workflow 2, surgically pulling only the exact business guidelines that match the user's issue.\n\nPersonalized Response and Logging: The AI synthesizes the retrieved rules into a hyper-personalized response and automatically shoots the email reply back to the sender. Simultaneously, it commits the complete transactional details—the incoming message, intent tags, and AI reply—into a central Supabase table to instantly update the Lovable frontend dashboards.","height":352,"width":592,"color":3},"type":"n8n-nodes-base.stickyNote","position":[928,992],"typeVersion":1,"id":"ffd07cd1-d470-44b0-9808-3cfa96d1c857","name":"Sticky Note2"},{"parameters":{"assignments":{"assignments":[{"id":"b859138f-5484-4167-a988-11cae7d48db1","name":"to.text","value":"={{ $json.from.value[0].address }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1184,832],"id":"554d904d-0f7e-4f83-ba71-0863ed58569a","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2400,944],"id":"b044bbb7-85a2-444e-9130-8af54b435fe5","name":"Merge"},{"parameters":{"model":"poolside/laguna-xs.2:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2064,1328],"id":"b7a59257-b6b2-4972-beb3-735997699617","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"6rWXPYTYTn7o8mRN","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"=Thats your input:\n{{ $('Gmail Trigger').item.json.headers.subject }}\n{{ $('Gmail Trigger').item.json.text }}\n\n## Role\nYou are a high-precision Intent Classifier for StarTech. Your goal is to identify the primary reason for a customer's email and output EXACTLY one word.\n\n## Smart Categories\nChoose the most appropriate category from this list:\n\n- **Reclamation**: Combined category for Returns, Refunds, or Exchanges. Use this if the customer wants to send back an item, get their money back, or change a size.\n- **Shipping**: Questions about delivery time, tracking numbers, lost packages, or shipping costs.\n- **Technical**: Issues with product defects, website errors, account login problems, or setup help.\n- **Inventory**: Inquiries about stock levels, restocking dates, or product variations (colors/sizes) being available.\n- **Pricing**: Questions about discounts, promo codes, bulk orders, or price matching.\n- **Urgent**: Legal threats, aggressive complaints, or immediate cancellation requests.\n- **Other**: General greetings, simple thank-yous, or anything that doesn't fit the above.\n\n## Strict Output Rules\n1. Output MUST be exactly one word from the list above.\n2. NO punctuation, NO explanations, NO introductory text.\n3. If the email covers multiple topics, choose the one that requires the most immediate action (e.g., Reclamation > Shipping).\n\n## Classification Example\nInput: \"The shoes are too small, I want my money back.\" -> Output: Reclamation\nInput: \"Where is my order #123?\" -> Output: Shipping","messages":{"messageValues":[]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[2096,1136],"id":"9d860936-74a3-4664-9e5c-253f5edf82e4","name":"Basic LLM Chain"},{"parameters":{"tableId":"email_logs","fieldsUi":{"fieldValues":[{"fieldId":"thread_id","fieldValue":"={{ $('Gmail Trigger').item.json.threadId }}"},{"fieldId":"sender_email","fieldValue":"={{ $('Gmail Trigger').item.json.from.value[0].address }}"},{"fieldId":"subject","fieldValue":"={{ $('Gmail Trigger').item.json.subject }}"},{"fieldId":"incoming_message","fieldValue":"={{ $('Gmail Trigger').item.json.text }}"},{"fieldId":"ai_response","fieldValue":"={{ $('AI Agent').item.json.output }}"},{"fieldId":"label","fieldValue":"={{ $json.text }}"},{"fieldId":"client_email","fieldValue":"={{ $('Edit Fields').item.json.to.text }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2560,944],"id":"dd147489-31ce-482e-8acd-e4e8e12e0121","name":"Create a row","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Call this tools to access information about Policies and FAQ","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":8,"includeDocumentMetadata":false,"options":{"metadata":{"metadataValues":[{"name":"client_email","value":"={{ $('Edit Fields').item.json.to.text }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[1920,976],"id":"50d69791-0686-496a-bbd1-5117320fd83a","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"OyuachsdOtpB3Q3y","name":"Supabase account"}}},{"parameters":{"operation":"reply","messageId":"={{ $('Gmail Trigger').item.json.id }}","emailType":"text","message":"={{ $('AI Agent').item.json.output }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2128,816],"id":"36254474-5f0d-4bb9-8b3e-a27d2b1ac70e","name":"Reply to a message","webhookId":"cfaf4110-cb34-44e0-b728-29e6b40bd206","credentials":{"gmailOAuth2":{"id":"4GLtUzHbezkZoXwf","name":"Gmail account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1808,1104],"id":"d345327c-cea6-48e6-93ef-9cd0a788915b","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"awC3JIFfRbIidQ3V","name":"OpenAI account"}}},{"parameters":{"model":"openai/gpt-3.5-turbo","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1712,992],"id":"7121cdb4-9833-464c-827c-16ef3e37550b","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"6rWXPYTYTn7o8mRN","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=## Role and Personality\nYou are Mr. Tony, a senior Customer Support Agent at StarTech. You are known for being incredibly helpful, tech-savvy, and genuinely enthusiastic about solving customer problems. Your tone is warm, professional, and full of positive energy.\n\n## Task Objective\nYour primary goal is to respond to incoming customer emails by retrieving accurate technical data and company policies using the Pinecone vector store tool. You must transform dry, technical information into really formal, easy-to-read instructions.\n\n## Operational Guidelines\n1. **Knowledge Retrieval:** For every query, search the Pinecone vector store first to ensure your information is up-to-date.\n2. **Personalization:** Address the customer by name if available. Acknowledge their specific issue with empathy before jumping into the solution.\n3. **Clarity over Complexity:** Break down technical steps using bullet points or numbered lists. Avoid overwhelming the customer with jargon.\n\n5. ALWAYS return the answer in English Language (Mandatory).\n\n## Constraints and Formatting\n- **Output:** Only output the body of the email. No introductory or concluding remarks from the AI.\n- **Tone:** Friendly and approachable.\n\n## Email Structure\n1. **Greeting:** A warm hello (e.g., \"Hi [Name]! Thanks for reaching out!\").\n2. **Empathy Statement:** A brief sentence showing you understand the situation.\n3. **The Solution:** The core information retrieved from Pinecone, rewritten to be conversational.\n4. **Closing:** A helpful offer for further assistance.\n5. **Signature:** \"Best regards, Mr. Tony from StarTech\".\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1760,768],"id":"b72d711b-9e55-4f11-9ab6-916068752a72","name":"AI Agent"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1712,1232],"id":"7b6f1bf2-d722-48e3-a8d0-684c65a856a8","name":"No Operation, do nothing"},{"parameters":{"model":"nvidia/nemotron-nano-9b-v2:free","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1536,960],"id":"5d279556-b33b-4f0d-905a-d98ff0029a78","name":"OpenRouter Chat Model","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"alwaysOutputData":false,"credentials":{"openRouterApi":{"id":"6rWXPYTYTn7o8mRN","name":"OpenRouter account"}}},{"parameters":{"inputText":"={{ $('Gmail Trigger').item.json.text }}","categories":{"categories":[{"category":"Customer support","description":"=An email that is related to helping customer. They may be asking questions about our policies, questions about our product or services or questions about refund/return"},{"category":"Other","description":"=Any email that is not customer support related"}]},"options":{"systemPromptTemplate":" Don't explain, and only output the json."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[1360,832],"id":"de38bbb4-00e7-4c02-b8a4-f6131b9da46d","name":"Text Classifier","disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[992,832],"id":"dd2e02eb-0a6e-4c75-b21f-094097edca04","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"4GLtUzHbezkZoXwf","name":"Gmail account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"webhook-secret-cond-1","leftValue":"={{ $json.headers['x-webhook-secret'] }}","rightValue":"ef835f45205c5f62fdab2e3d4ee12dcfae0d313383a8087a9dfaad1c069e8e19","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-40,2960],"id":"a1b2c3d4-0001-4aaa-8bbb-000000000001","name":"Webhook Secret Check"},{"parameters":{"respondWith":"json","responseBody":"={{ { \"error\": \"unauthorized\" } }}","options":{"responseCode":401}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-40,3160],"id":"a1b2c3d4-0002-4aaa-8bbb-000000000002","name":"Unauthorized Response"}],"connections":{"Google Drive Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store2","type":"ai_embedding","index":0}]]},"Supabase Vector Store2":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Get many rows1":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many rows","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"If":{"main":[[{"node":"Update a document2","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"No Operation, do nothing1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update a document2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update a document":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Get many rows1","type":"main","index":0}]]},"Create a row1":{"main":[[{"node":"If","type":"main","index":0}]]},"Gmail Trigger3":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Text Classifier1":{"main":[[{"node":"AI Agent2","type":"main","index":0},{"node":"Basic LLM Chain1","type":"main","index":0}],[{"node":"No Operation, do nothing3","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"Text Classifier1","type":"ai_languageModel","index":0}]]},"AI Agent2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Supabase Vector Store3","type":"ai_embedding","index":0}]]},"Reply to a message1":{"main":[[{"node":"Mark as Auto-Sent","type":"main","index":0}]]},"Supabase Vector Store3":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"OpenRouter Chat Model6":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Merge1":{"main":[[{"node":"Create a row2","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Text Classifier1","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Create a row2":{"main":[[]]},"Get Client Auto-Send Setting":{"main":[[{"node":"Auto-Send?","type":"main","index":0}]]},"Auto-Send?":{"main":[[{"node":"Reply to a message1","type":"main","index":0}],[{"node":"Waiting for Manual Approval","type":"main","index":0}]]},"Send Approved Reply (Webhook)":{"main":[[{"node":"Webhook Secret Check","type":"main","index":0}]]},"Get Approved Row":{"main":[[{"node":"Send Final Reply (Gmail)","type":"main","index":0}]]},"Send Final Reply (Gmail)":{"main":[[{"node":"Mark as Sent","type":"main","index":0}]]},"Mark as Sent":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Reply to a message":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Reply to a message","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook Secret Check":{"main":[[{"node":"Get Approved Row","type":"main","index":0}],[{"node":"Unauthorized Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"745c4c0d-385a-4d45-8106-09c287ab2253","activeVersionId":null,"versionCounter":37,"triggerCount":0,"shared":[{"updatedAt":"2026-06-24T14:08:59.581Z","createdAt":"2026-06-24T14:08:59.581Z","role":"workflow:owner","workflowId":"fXQTTKCeR7wcj9IL","projectId":"B3fRHQm55w7FvvKO","project":{"updatedAt":"2026-04-05T19:31:14.258Z","createdAt":"2026-04-05T19:27:00.979Z","id":"B3fRHQm55w7FvvKO","name":"Ceco Simeonov <bobgopnipop@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"5ffe1f95-ed08-4e0d-8942-8dcd9c6724c7"}}],"tags":[],"activeVersion":null}